.loading{
  height: 20vh;
  width:30vw;
  border:1px solid black;
  margin-left: 35%;
}


/* card */
.topleft{
  border: 1px solid black;
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.pic{
  margin-left: 20px;
  height:80px;
  border-radius: 50%;
  margin-top: 20%;
}
.topRight{
  padding:10px;
  flex-grow: 4;
}
.topRight p{
  margin-top: 0px;
  margin-left: 20px;
  padding: 0;
}
.name{
  position: relative;
  top:5px;
}
.location{
  position: relative;
  top:-10px;
}
.content p{
  text-align: center;
}
.content h2{
  position: relative;
  top:30px;
}
.mail{
  position: relative;
  top:15px;
}
.name{
  font-size: larger;
  font-weight: bolder;
}
.gender{
  font-weight: bolder;
  position: relative;
  top:-10px;
}
.location{
  position: relative;
  top:-20px;
  font-size: small;
}